
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/*---HEADER---*/
header nav {
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;

}

header nav img {
    width: 85px;
    transition: 2s;
}

header nav img:hover {
    transform: scale(1.3);
}

header nav ul {
    list-style: none;
    display: flex;

}

header nav ul li a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
    transition: 2s;
}

header nav ul li:hover {
    transform: scale(1.3);
}

#menu-toggle,
.menu-label{
    display: none;
}

.logo-alfajor{
    display: flex;
}



/* -------------NOSOTROS-------------- */

.sobrenosotros h1 {
    font-size: 30px;
    text-align: center;
    margin: 40px;
}
.container {
    position: relative;
    width: 100%;
  }

  .image {
    
    width: 100%;
    height: 100%;
    
  }



/* ----------PRODUCTOS ------------ */
.productos {
    text-align: center;
    margin: 40px;
    font-size: 30px;

}

.grid-galeria {
    margin-top: 50px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: 250px;

    gap: 15px;
    margin: 30px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    border-radius: 3px;

    object-fit: cover;

    box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
}

.grid-item {
    position: relative;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

.container-info {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  .box {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  .box p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

/*---MAIN---*/

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(5, 5, 5, 0.058), rgb(5, 5, 5)), url(./assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 80px;
    padding: 20px;
}

.hero a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
}


/*------- FOOTER-----*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

footer p {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
}

footer span{
    font-weight: 800;
}


/* --------------- MEDIAQUERIES ----------------- */


@media screen and (max-width:750px) {

    .grid-galeria{
    
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 250px;
    
        gap: 15px;
        margin: 30px;
    }

    .text-overlay {
        font-size: 9px;
    }


.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}

.box {
    width: 100%;
  }

.box h2 {
    font-size: 20px;
}

}

@media screen and (max-width:510px) {
    
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    
    .hero h2 {
        font-size: 35px;
    }

    .hero a {
        margin: 15px;
        padding: 8px;
        border-radius: 15px;
    }

    .productos {
        text-align: center;
        margin: 40px;
        font-size: 25px;
    
    }

    .sobrenosotros h1 {
        font-size: 25px;
        text-align: center;
        margin: 40px;
    }
    
}

@media screen and (max-width:450px) {
  
    header nav ul li a {
        font-size: 12px;
        margin: 10px;
    }

    
    .hero h2 {
        font-weight: 300;
        font-size: 35px;
    }

    .hero a {
        margin: 20px;
        padding: 10px;
        border-radius: 15px;
    }

    
    .grid-galeria{
    
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 250px;
    
        gap: 15px;
        margin: 30px;
    }
    
}